* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0; // ios radius

    font-family: -apple-system, sans-serif;
    font-size: 16px;
}

img,
textarea {
    display: block; // rm extra space below
}

a {
    color: blue;
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
textarea {
    caret-color: black; // ios default is "blue"
}

input,
textarea {
    // font-size: 16px; // or ios will zoom
}

button {
    // font-size: 16px; // ios default is small
    color: black; // ios default is "blue"
    background: none;
}

table {
    border-collapse: collapse;
}